body {
  background-color: : #000000;
}

p {
  font-family: Arial, sans-serif;
}

.title {
  font-family: Arial, sans-serif;
}

.title {
  color: teal;
}

h1 {
  font-family: Arial;
  font-size: 50px;
}
